<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bjym.dao.PhotoMapper">
	<!-- 查询所有图片 -->
	<select id="list" resultType="Face_List">
		select pid, pimage from product
	</select>

	<insert id="insert" parameterType="Face">
		INSERT INTO face (PhotoName, PhotoImg) VALUES ( #{PhotoName,jdbcType=VARCHAR}, #{PhotoImg,jdbcType=VARCHAR})
	</insert>
</mapper>
